# Ignore everything
*
*/

# --- Keep these custom configs ---
# !/nvim/
# !/nvim/**
!/i3/
!/i3/**
!/i3blocks/
!/i3blocks/**
!/ranger/
!/ranger/**
!/kitty/
!/kitty/**
!/nvim/
!/nvim/**
!/alacritty/
!/alacritty/**
!/fastfetch/
!/fastfetch/**
!/betterlockscreen/
!/betterlockscreen/**
!/bin/
!/bin/**
!/theme/
!/theme/**


# Optionally keep custom themes/scripts
!*.sh
!*.md

!.gitignore
!README.md
!2025-09-11_13-47-41.png
!.vimrc
!*.png
